//color
$btn_active: #9A60D3;
$btn_active_dark: #8F6CFF;
$light_gray: #A5A5A5;
$second_light_gray: #B2B2B4;
$dark_gray: #7B7B7E;
$white: #fff;
$input_black: #242427;

//font
$font_size_small: 14px;
$font_size_medium: 16px;
$font_size_large: 22px;