//color
$btn_active: #9A60D3;
$btn_active_dark: #8F6CFF;
$my_message_box: #835CC1;
$light_gray: #A5A5A5;
$second_light_gray: #B2B2B4;
$dark_gray: #7B7B7E;
$gray: #EEE;
$other_message_box: #f2eff8;
$white: #fff;
$input_black: #242427;

//font
$font_size_small: 14px;
$font_size_medium: 16px;
$font_size_large: 22px;