.FeedContainer {
    width: 100%;
    height: 730px;
    display: flex;
    flex-direction: column;
    .FeedHd {
        width: 100%;
        height: 8%;
        display: flex;
        .PostBackBtn {
            width: 8px;
            height: 16px;
            margin-left: 4%;
            margin-top: 6%;
        }
        .PostHdTxt {
            margin-left: 37%;
            margin-top: 6%;
            font-weight: bold;
        }
    }
    .FeedTitleBox {
        
        .FeedTitle {
            text-align: center;
            font-size: 16px;
        }
    }
    .Line {
        width: 100%;
        height: 1px; 
        margin-top: 10px; 
        background-color: rgba(33, 33, 33, 0.08);
    }
    .FeedReactBox {
        display: flex;
        margin-top: 16px;
        margin-bottom: 20px;
        margin-left: 16px;
        .FeedLikeBtn {
            width: 19px;
            height: 16px;
            display: flex;
            margin-right: 16px;
        }
        .FeedCommentBtn {
            width: 19px;
            height: 16px;
        }
    }

    .FeedCommentInput {
        position: relative;
        text-align: center;
        .FeedCommentInputBox {
            width: 361px;
            height: 48px;
            padding: 3%;
            border-radius: 12px;
            border: 0.5px solid #B2B2B4;
            background: #FFF;
        }
        .FeedCommentImg {
            width: 19px;
            height: 19px;
            position: absolute;
            bottom: 30%;
            right: 5%;
        }
    }
}