@charset "UTF-8";

// setting
@import "setting/resets";
@import "setting/common";
@import "setting/utils";
@import "setting/variables";

// section
@import "section/Taxi_map/map.scss";
@import "section/Taxi_community/community.scss";
@import "section/Taxi_chatting/chat.scss";
@import "section/Footer/footer.scss";
@import "section/Header/header.scss";
@import "section/Login/login.scss";
@import "section/Taxi_chatting/chat.scss";
@import "section/landing/landing.scss";