@import "../../setting/utils";
@import "../../setting/variables";

//footer
.footer_icon {
    @include size(20px, 20px);

}

#footer_container {
    @include size(100%, 75px);
    position: relative;
    z-index: 10;

    #footer_inner_container {
        @include size(100%, 75px);
        display: flex;
        justify-content: center;
        align-items: center;
        background: $white;
        box-shadow: 0px -0.7px 0px rgba(0, 0, 0, 0.25);

        #footer_inner_box {
            @include size(100%, 100%);
            padding: 15px 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .footer_inner_item {
                @include size(15%, 100%);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: $light_gray;

                &.active {
                    color: $btn_active;
                }

                .footer_inner_span {
                    display: block;
                    width: 100%;
                    font-size: 12px;
                    text-align: center;
                }
            }
        }
    }
}