.CommunityContainer {
    width: 100%;
    height: 730px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .CommunityHd {
        width: 100%;
        height: 8%;
        display: flex;

        .BackBtnImg {
            width: 8px;
            height: 16px;
            margin-left: 4%;
            margin-top: 6%;
        }

        .CommunityTitle {
            margin-left: 37%;
            margin-top: 6%;
            font-weight: bold;
        }
    }
    .MyLineTitle {
        width: 363px;
        margin-top: 35px;
        margin-bottom: 8px;
        margin-left: 16px;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
    }

    .PostWrap {
        width: 340px;
        height: 220px;
        overflow-x: auto;
        display: flex;
        gap: 17px;
        flex-wrap: nowrap;

        &::-webkit-scrollbar {
            display: none;
        }

        .Post {
            width: 340px;
            height: 149px;
            padding-left: 8px;
            padding-top: 20px;
            border-radius: 10px;
            background: rgba(176, 151, 255, 0.15);
            box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.08);
            flex-shrink: 0;

            .PostProfileBox {
                display: flex;
                padding-left: 14px;

                .PostProfile {
                    display: flex;

                    .PostProfileImg {
                        width: 63px;
                        height: 63px;
                        background-color: #fff;
                        border-radius: 50%;
                        overflow: hidden;
                    }

                    .PostProfileLable {
                        margin-left: 8px;
                        margin-top: 12px;
                    }
                }

                .PostMin {
                    color: #000;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -0.28px;
                    margin-left: 120px;
                }
            }

            .PostPart2 {
                display: flex;
                margin-left: 19px;

                // 위치
                .PostLocationBox {
                    .PostLocationLable {
                        color: #000;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: -0.28px;
                        margin-top: 12px;
                    }

                    .PostLocation {
                        color: #333;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: -0.28px;
                        margin-top: 7px;
                    }
                }

                // 모집인원
                .PostRecruitBox {
                    margin-left: 30px;

                    .PostRecruitLable {
                        color: #000;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: -0.28px;
                        margin-top: 12px;
                    }

                    .PostRecruitBox2 {
                        display: flex;
                        margin-top: 7px;

                        .PostRecruitBoxImg {
                            width: 10px;
                            height: 13.921px;
                            flex-shrink: 0;
                        }

                        .PostRecruitBoxText {
                            color: #333;
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: -0.28px;
                            margin-left: 3%;
                        }

                    }

                }

                .PostRecruitBoxButton {
                    width: 81px;
                    height: 53px;
                    flex-shrink: 0;
                    border-radius: 8px;
                    background: #FFF;
                    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
                    color: #000;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -0.28px;
                    margin-left: 16%;
                    cursor: pointer;
                }
            }



        }
    }

    .HotPostWrap {
        width: 100%;
        height: 180px;

        .HotHd {
            font-size: 18px;
            font-weight: 500;
            margin-top: 11px;
            margin-bottom: 2%;
            margin-left: 12px;
        }

        .HotPostBox {
            background-color: #FAFAFA;
            width: 100%;
            padding: 4%;

            .HotPostingTitle {
                color: #000;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: -0.28px;
            }

            .HotPostingContent {
                color: #333;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.28px;
                margin-top: 5px;
            }
        }
    }

    .NoticeLable {
        width: 100%;
        height: 26px;
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.28px;
    }

    .NoticeWrap {
        width: 340px;
        height: 250px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14);
        display: flex;
        flex-direction: column;
        margin-top: 11px;
        z-index: -1;
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        .Notice {
            width: 340px;
            height: 62px;
            display: flex;
            align-items: center;

            .NoticeImg {
                width: 19px;
                height: 12px;
                flex-shrink: 0;
                margin-left: 23px;
            }

            .NoticeTitle {
                width: 200px;
                color: #333;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.28px;
                margin-left: 14px;
            }

            .NoticeButton {
                width: 55px;
                height: 20px;
                flex-shrink: 0;
                border-radius: 3px;
                background: #F0F0F0;
                box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
                color: #000;
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.28px;
                cursor: pointer;
            }

        }

        .Line {
            width: 345px;
            height: 1px;
            flex-shrink: 0;
            background-color: rgba(33, 33, 33, 0.08);
        }
    }
}