@import "../../setting/utils";
@import "../../setting/variables";

// header
#header_container {
    @include size(100%, 45px);

    #header_inner_container {
        @include size(100%, 45px);
        padding: 15px;

        #header_inner_box {
            @include size(100%, 100%);
            display: flex;
            justify-content: space-between;
            align-items: center;

            .header_inner_back {
                @include size(8px, 16px);

                .header_back_icon {
                    @include size(8px, 16px);

                }
            }

            .header_inner_title {
                font-size: 18px;
                font-weight: 500;
            }

            .header_inner_blank {
                @include size(8px, 16px);
            }
        }
    }
}